* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffe0e9;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  main {
    padding: 1rem;
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes iniciar {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes iniciar-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes iniciar-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes iniciar-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes butterfly-fly {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(5%) translateY(5%) rotate(-10deg);
  }
  66% {
    transform: translateX(-5%) translateY(-5%) rotate(10deg);
  }
}
button {
  background-color: black;
  color: #ffe0e9;
  border: 0;
}
button:hover {
  background-color: #ffe0e9;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffe0e9;
}
header a {
  color: black;
}

/* -------- Header styles ----------*/
.header-container-logo-der {
  display: none;
}

.header-container-h1 {
  vertical-align: middle;
  font-size: 1.8rem;
  font-family: Brush Script MT;
}

.header-container-logo-izq {
  padding: 2rem;
}

.header-container-logo-izq-img {
  animation: iniciar-down 3s ease-in-out;
  width: 100px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffe0e9;
    justify-content: space-evenly;
  }
  .header-container-logo-izq {
    display: inline-flex;
    padding: 2rem;
  }
  .header-container-logo-izq-img {
    animation: iniciar-left 3s ease-in-out;
  }
  .header-container-h1 {
    display: inline-flex;
  }
  .header-container-logo-der {
    padding: 2rem;
    display: inline-flex;
  }
  .header-container-logo-der-img {
    display: inline-flex;
    width: 100px;
    height: 100px;
    animation: iniciar-right 3s ease-in-out;
  }
}
/* --------NavBar styles ----------*/
.navbar {
  width: 100%;
  text-align: center;
}

.nav-logo-right {
  display: none;
}

.navbar-brand img {
  animation: iniciar-left 3s ease-in-out;
}

.nav-link.active:hover {
  background-color: #ffe0e9;
  color: black;
}

@media (min-width: 768px) {
  .nav-logo-right {
    display: block;
  }
}
/* --------Whatsapp help styles ----------*/
.whatsapp {
  position: fixed;
  width: 10%;
  bottom: 10px;
  right: 10px;
}
.whatsapp-expand {
  display: none;
}
.whatsapp-expand-chat {
  display: table;
  font-family: sans-serif;
  text-decoration: none;
  margin: 1em auto;
  color: #fff;
  font-size: 0.9em;
  padding: 1em 2em 1em 3.5em;
  border-radius: 2em;
  font-weight: bold;
  background: #25d366 url("https://tochat.be/click-to-chat-directory/css/whatsapp.svg") no-repeat 1.5em center;
  background-size: 1.6em;
}
.whatsapp-logo {
  width: 100%;
}

@media (min-width: 768px) {
  .whatsapp {
    position: fixed;
    width: 5%;
    bottom: 10px;
    right: 10px;
  }
  .whatsapp-logo {
    width: 100%;
  }
  .whatsapp-expand {
    position: inherit;
    right: 10px;
    bottom: 0;
    display: none;
    font-size: 0.8em;
  }
  .whatsapp:hover .whatsapp-expand {
    display: block;
  }
  .whatsapp:hover .whatsapp-logo {
    display: none;
  }
}
/* -------- Footer styles ----------*/
footer {
  width: 100%;
  margin-top: 10px;
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: black;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  border-top: 1px solid black;
}
footer li a {
  color: #ffe0e9;
}
footer li a:hover {
  background-color: #ffe0e9;
  color: black;
}

.footer-container {
  margin-top: 10px;
}

.footer-logo {
  width: 33%;
  height: 70%;
}

.footer-logo-img {
  width: 100px;
}

.footer-container,
.footer-a {
  width: 33%;
}

.footer-container-nav ul {
  list-style: none;
  padding: 0;
}

.footer-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ffe0e9;
  border-left: 1px solid #ffe0e9;
}
.footer-a-facebook {
  width: fit-content;
}
.footer-a-instagram {
  width: fit-content;
}
.footer-a-whatsapp {
  width: fit-content;
}

/* -------- Index styles ----------*/
.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.welcome-h2 {
  justify-self: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: Brush Script MT, Arial, Helvetica, sans-serif;
}
.welcome-intro {
  width: 80%;
}
.welcome-intro-img {
  width: 100%;
  animation: iniciar 3s ease forwards;
}
.welcome-intro-img-right {
  width: 100%;
  animation: iniciar 3s ease forwards;
}
.welcome-intro-right {
  display: none;
}

.agend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.agend-container-calendar {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 1rem;
}
.agend-container-calendar-calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Remove the iframe border */
}
.agend-date-button {
  justify-self: center;
  margin-top: 1rem;
}

td #timezone {
  height: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .welcome {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }
  .welcome-h2 {
    margin-top: 0;
    grid-column: span 2;
    text-align: center;
  }
  .welcome-intro {
    justify-self: center;
    align-items: center;
    display: inline-flex;
    grid-column: span 2;
    margin-bottom: 1rem;
    width: 80%;
  }
  .welcome-intro-img {
    transform-origin: right top;
  }
  .welcome-intro-img:hover {
    transform: scale(1.1);
  }
  .welcome-intro-img-right {
    display: block;
    transform-origin: left;
  }
  .welcome-intro-img-right:hover {
    transform: scale(1.1);
  }
  .welcome-intro-right {
    display: block;
  }
  .welcome-intro-mobile {
    display: none;
  }
  .welcome-intro > p {
    margin: 1rem;
  }
  .agend {
    width: 80%;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  .agend-h2 {
    grid-column: span 2;
    justify-self: center;
  }
  .agend-date {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }
  .agend-date-selector {
    margin-left: 1rem;
    align-self: center;
    text-align: center;
    width: 100%;
  }
  .agend-date-button {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
/* --------Galeria styles ----------*/
.galery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.galery-photos-img {
  width: 100%;
}
.galery-photos-img-container {
  width: 80%;
  margin-bottom: 1rem;
  animation: iniciar 3s ease forwards;
}
.galery-videos-container {
  width: 80%;
}
.galery-videos-iframe {
  width: 100%;
  animation: iniciar 3s ease forwards;
}

@media (min-width: 768px) {
  .galery {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }
  .galery-h2 {
    grid-column: span 2;
    text-align: center;
  }
  .galery-photos-img-container {
    display: inline-flex;
    width: 100%;
    padding: 2rem;
  }
  .galery-videos-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 1rem;
  }
}
/* --------About Me styles ----------*/
.presentacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.presentacion-h2 {
  width: 100%;
}
.presentacion-article {
  width: 80%;
  margin-bottom: 1rem;
}
.presentacion-article-img {
  width: 100%;
  animation: iniciar 3s ease forwards;
}
.presentacion-article-img-mobile {
  width: 100%;
  animation: iniciar 3s ease forwards;
}
.presentacion-article-img-right {
  display: none;
}

@media (min-width: 768px) {
  .presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
  }
  .presentacion-h2 {
    text-align: center;
    grid-column: span 2;
  }
  .presentacion-article {
    display: inline-flex;
    align-items: center;
    grid-column: span 2;
    width: 80%;
    justify-self: center;
  }
  .presentacion-article-img {
    width: 100%;
    animation: iniciar-left 3s ease forwards;
  }
  .presentacion-article-img-mobile {
    display: none;
  }
  .presentacion-article-img-right {
    display: block;
    width: 100%;
    animation: iniciar-right 3s ease forwards;
  }
  .presentacion-article-p {
    margin: 1rem;
  }
}
/* --------About Yoga styles ----------*/
.introduccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.introduccion-h2 {
  width: 100%;
}
.introduccion-article {
  width: 80%;
}
.introduccion-article-p {
  width: 100%;
}
.introduccion-article-img {
  width: 100%;
  margin-bottom: 1rem;
  animation: iniciar 3s ease forwards;
}

.kids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.kids-h2 {
  width: 100%;
}
.kids-article {
  width: 80%;
}
.kids-article-p {
  width: 100%;
}
.kids-article-img {
  width: 100%;
  margin-bottom: 1rem;
  animation: iniciar 3s ease forwards;
}

.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.benefits-h2 {
  width: 100%;
}
.benefits-article {
  width: 80%;
}
.benefits-article-p {
  width: 100%;
}
.benefits-article-ul {
  text-align: start;
  width: 100%;
}
.benefits-article-img {
  width: 100%;
  margin-bottom: 1rem;
  animation: butterfly-fly 3s;
}

@media (min-width: 768px) {
  .introduccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
  }
  .introduccion-h2 {
    grid-column: span 2;
  }
  .introduccion-article {
    grid-column: span 2;
    display: inline-flex;
    justify-self: center;
    align-items: center;
  }
  .introduccion-article-p-container {
    width: 100%;
    margin: 1rem;
  }
  .introduccion-article-img {
    animation: iniciar-right 3s ease-in-out;
  }
  .kids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
  }
  .kids-h2 {
    grid-column: span 2;
  }
  .kids-article {
    grid-column: span 2;
    display: inline-flex;
    justify-self: center;
    align-items: center;
  }
  .kids-article-p-container {
    margin: 1rem;
    width: 100%;
  }
  .kids-article-img {
    animation: iniciar-right 3s ease-in-out;
  }
  .benefits-article {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
  }
  .benefits-article-p-container {
    grid-column: 1/3;
  }
  .benefits-article-ul {
    grid-column: 1;
    grid-row: 2;
  }
  .benefits-article-img {
    width: 130px;
    grid-column: 2;
    grid-row: 2;
  }
  .benefits-article-p:last-of-type {
    grid-column: 1/3;
    grid-row: 3;
  }
}
/* --------Materiales styles ----------*/
.recursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.recursos-h2 {
  justify-self: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: Brush Script MT, Arial, Helvetica, sans-serif;
}
.recursos-article {
  width: 80%;
}
.recursos-article-img {
  width: 100%;
  margin-bottom: 1rem;
  animation: iniciar 3s ease-in-out;
}
.recursos-article-ul {
  padding: 0;
}
.recursos-article-ul-li {
  list-style: decimal;
  text-align: start;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.videos-video {
  width: 100%;
  margin-bottom: 1rem;
  animation: iniciar 3s ease-in-out;
}

.aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.aside-spotify {
  width: 80%;
}
.aside-spotify-iframe {
  width: 100%;
}

@media (min-width: 768px) {
  .recursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .recursos-h2 {
    grid-column: span 2;
    margin-bottom: 1 rem;
  }
  .recursos-article {
    justify-self: center;
  }
  .recursos-article-p:last-of-type {
    text-align: start;
    font-size: 1.5rem;
  }
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
  }
  .videos-h3 {
    grid-column: span 2;
  }
  .videos-video {
    justify-self: center;
    width: 80%;
  }
  .videos-video-iframe {
    height: 300px;
    width: 100%;
  }
}
/* --------ContactMe styles ----------*/
.formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.formulario-h2 {
  text-align: center;
  width: 100%;
}
.formulario-img {
  display: none;
}

.container-formulario-label {
  margin-bottom: 1rem;
  text-align: end;
}

.mapa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.mapa-h2 {
  width: 100%;
}

.container-mapa-iframe {
  width: 100%;
}

.mapa-iframe {
  width: 100%;
}

.redes-sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.redes-sociales-h2 {
  width: 100%;
}
.redes-sociales-div {
  width: 80%;
  margin-bottom: 1rem;
}

.facebook-iframe {
  width: 100%;
  height: 300px;
}

.instagram-media {
  width: 100%;
}

button {
  border: 1px solid black;
}

@media (min-width: 768px) {
  .formulario {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  .formulario-h2 {
    grid-column: span 2;
  }
  .container-formulario {
    width: 80%;
    animation: iniciar-left 3s ease-in-out;
  }
  .formulario-img {
    display: inline;
    width: 50%;
    animation: iniciar-right 3s ease-in-out;
  }
  .formulario-img-container {
    width: 100%;
    text-align: center;
  }
  .redes-sociales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .redes-sociales-h2 {
    grid-column: span 2;
  }
  .redes-sociales-div {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
