$c-fondo: #ffe0e9;
$c-fondo-alt: black;
$f-family: Calibri, Arial, Helvetica, sans-serif;
$f-title: Brush Script MT;
$f-nav: 'Lato', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $f-family;
}

body {
  background-color: $c-fondo;
}

a {
  text-decoration: none;
}

main {
  padding: 1rem;
}

@mixin contenedor-flex($direccion:row, $justify:center, $align:center){
  display: flex;
  flex-direction: $direccion ;
  flex-wrap: wrap;
  justify-content: $justify;
  text-align: $align;
}

@mixin contenedor-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-bottom: 0;
}

@mixin inline-flex($padding:2rem){
  display: inline-flex;
  padding: $padding;
}

@mixin h2{
  justify-self: center;
  margin-top: 10px;
  font-size: 2rem;
  font-family: $f-title;
}

@mixin img{
  width: 100%;
  max-width: 400px;
  margin-bottom: 1em;
}
