/* Solo realice cambios en el archivo index.html, la idea seria que el header
  este "sticky" solo en el index luego el comportamiento seria de desplazamiento
  en las demas secciones. El footer la idea seria replicarlo en todas las secciones.
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Calibri,Arial, Helvetica, sans-serif;
}

/* ------------Header Styles----------------- */

.header{
  background-color:#fa7aa3;
  text-align: center;
  position: sticky;
  font-size: 1.5rem;
  top: 0;
}

.h1{
  color: black;
  display: inline-block;
  vertical-align: middle;
  font-family: Brush Script MT,Arial, Helvetica, sans-serif;
}

.logo{
  width: 100px;
  vertical-align: middle;
}

.nav li{
  display: inline-block;
  background-color: #fa7aa3;
  padding: 10px 10px;
}

.nav a {
  color: black;
  border: solid 2px black;
  background-color: azure;
  border-radius: 10px;
}


/*------------------ Main section ------------------- */

/*------------------ Welcome section ----------------*/
.bienvenidos{
  text-align: center;
  font-size: 36px;
}
.welcome{
  padding-top: 1em;
  padding-bottom: 1em;
}

.intro-img{
  width: 683px;
  height: 683px;;
}

.intro-img-right{
  width: 683px;
  height: 683px;
  margin-left: 683px;
}

.intro-right{
  margin-left: 683px;
}

/*----------------- Agend section ----------------*/

.agend-class{
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 600px;
}

.calendar{
  width: 700px;
  height: 700px;
  margin-left: -250px;
}

.class-day{
  width: 200px;
  right: 100px;
  text-align: justify;
}

/*---------------- Footer -----------------*/

.footer{
  height: 100px;
  background-color: #fa7aa3;
  position: relative;
}

.footer-nav{
  position: absolute;
  margin-top: 40px;
  margin-left: 450px;
}

.footer-nav li{
  display: inline-block;
  background-color: #fa7aa3;
  margin-right: 20px;
}

.footer-nav a{
  color: black;
}

.footer-h3{
  position: absolute;
  right: 100px;
  top: 40px;
}

.footer-logo{
  position: absolute;
  width: 100px;
  right: 0;
}

.footer-a{
  position: absolute;
  top: 40px;
}

.facebook{
  margin-right: 1em;
}

.instagram{
  margin-right: 1em;
}

