// --------About Me styles ----------

.presentacion {
  @include contenedor-flex;
  &-h2{
    @include h2;
  }
  &-article{
    width: 80%;
    margin-bottom: 1em;
    &-img{
      @include img;
      animation: iniciar 3s ease forwards;
      &-mobile{
        @include img;
        animation: iniciar 3s ease forwards;
      }
      &-right{
        display: none;
      }
    }
  }
  &-saludo{
    width: 100%;
    font-family: $f-title;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px){
  .presentacion {
    @include contenedor-grid;
    &-h2{
      text-align: center;
      grid-column: span 2;
      font-family: $f-title;
    }
    &-article{
      @include inline-flex(0);
      align-items: center;
      grid-column: span 2;
      width: 80%;
      justify-self: center;
      &-img{
        width: 100%;
        width: 300px;
        max-width: 400px;
        animation: iniciar-left 3s ease forwards;
        &-mobile{
          display: none;
        }
        &-right{
          display: block;
          width: 100%;
          width: 300px;
          max-width: 400px;
          animation: iniciar-right 3s ease forwards;
        }
      }
      &-p{
        margin: 1em;
      }
    }
    &-saludo{
      grid-column: span 2;
      margin: 0;
      font-size: 2rem;
    }
  } 
}