// --------Contact Me styles ----------

.formulario {
  @include contenedor-flex();
  &-h2{
    @include h2;
  }
  &-img{
    display: none;
  }
}

.container-formulario-label {
  margin-bottom: 1em;
  text-align: end;
}

.mapa {
  @include contenedor-flex();
  &-h2{
    width: 100%;
  }
}

.container-mapa-iframe {
  width: 100%;
}

.mapa-iframe {
  width: 100%;
}

.redes-sociales {
  @include contenedor-flex();
  &-h2{
    width: 100%;
  }
  &-article{
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
    overflow: hidden;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.facebook-iframe {
  width: 100%;
}

.instagram-media {
  width: 100%;
}

button{
  border: 1px solid black;
}

@media (min-width: 768px){
  .formulario {
    @include contenedor-grid;
    align-items: center;
    text-align: start;
    width: 100%;
    &-h2{
      grid-column: span 2;
    }
    &-img{
      display: inline;
      height: 400px;
      justify-self: center;
      animation: iniciar-right 3s ease-in-out;
    }
  }

  .container-formulario {
    width: 80%;
    animation: iniciar-left 3s ease-in-out;
  }

  .redes-sociales {
    @include contenedor-grid();
    align-items: center;
    &-h2{
      grid-column: span 2;
    }
    &-article{
      width: 100%;
      justify-self: center;
      margin-bottom: 0;
      &:first-of-type{
        margin-right: 1em;
      }
    }
  }

  .facebook-iframe {
    width: 400px;
    margin-right: 1em;
  }
  
  .instagram-media {
    width: 400px;
  }
}