/* --------ContactMe styles ----------*/

.formulario {
  @include contenedor-flex();
  &-h2{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-family: $f-title;
  }
  &-img{
    display: none;
  }
}

.container-formulario-label {
  margin-bottom: 1rem;
  text-align: end;
}

.mapa {
  @include contenedor-flex();
  &-h2{
    width: 100%;
  }
}

.container-mapa-iframe {
  width: 100%;
}

.mapa-iframe {
  width: 100%;
}

.redes-sociales {
  @include contenedor-flex();
  &-h2{
    width: 100%;
  }
  &-div{
    width: 80%;
    max-width: 400px;
    margin-bottom: 1rem;
  }
}

.facebook-iframe {
  width: 100%;
  height: 300px;
}

.instagram-media {
  max-width: 300px;
  width: 100%;
}

button{
  border: 1px solid black;
}

@media (min-width: 768px){
  .formulario {
    @include contenedor-grid;
    align-items: center;
    text-align: start;
    width: 100%;
    &-h2{
      grid-column: span 2;
    }
  }

  .container-formulario {
    width: 80%;
    animation: iniciar-left 3s ease-in-out;
  }

  .formulario-img {
    display: inline;
    width: 50%;
    animation: iniciar-right 3s ease-in-out;
    &-container{
      width: 100%;
      text-align: center;
    }
  }

  .redes-sociales {
    @include contenedor-grid;
    align-items: center;
    &-h2{
      grid-column: span 2;
    }
    &-div{
      width: 100%;
    }
  }
}