/* --------Galeria styles ----------*/

.galery {
  @include contenedor-flex;
  &-introduccion{
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
  }
  &-h2{
    @include h2;
  }
  &-photos-img{
    @include img;
    align-self: center;
    &-container{
      @include contenedor-flex(column);
      width: 80%;
      max-width: 400px;
      height: 300px;
      margin-bottom: 1em;
      animation: iniciar 3s ease forwards;
      border: 10px solid black;
      overflow: hidden;
      background-color: rgb(184, 153, 107);
    }
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  &-video{
    width: 80%;
    margin-bottom: 2em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &-video-iframe{
    width: 100%;
    animation: iniciar 3s ease forwards;
  }
}

@media (min-width: 768px){
  .galery {
    @include contenedor-grid;
    margin-left: auto;
    margin-right: auto;
    &-introduccion{
      grid-column: span 2;
      justify-self: center;
    }
    &-h2{
      grid-column: span 2;
      text-align: center;
    }
    &-photos-img-container{
      display: inline-flex;
      width: 100%;
      padding: 2em;
      justify-self: center;
    }
    &-video{
      padding: 2em;
      display: inline-flex;
      width: 100%;
      margin-bottom: 0;
    }
  }
}