/* --------Galeria styles ----------*/

.galery {
  @include contenedor-flex(row);
  text-align: center;
  &-introduccion{
    text-align: center;
    width: 80%;
  }
  &-h2{
    font-family: $f-title;
  }
  &-photos-img{
    width: 100%;
    max-width: 300px;
    align-self: center;
    &-container{
      @include contenedor-flex;
      width: 80%;
      justify-content: center; 
      max-width: 400px;
      height: 300px;
      margin-bottom: 1rem;
      animation: iniciar 3s ease forwards;
      border: 10px solid black;
      overflow: hidden;
      background-color: rgb(184, 153, 107);
    }
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  &-videos-container{
    width: 80%;
  }
  &-videos-iframe{
    width: 100%;
    animation: iniciar 3s ease forwards;
  }
}

@media (min-width: 768px){
  .galery {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    &-introduccion{
      grid-column: span 2;
      justify-self: center;
    }
    &-h2{
      grid-column: span 2;
      text-align: center;
    }
    &-photos-img-container{
      display: inline-flex;
      width: 100%;
      padding: 2rem;
      justify-self: center;
    }
    &-videos-container{
      display: inline-flex;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}