// -------- Index styles ----------

.welcome {
  @include contenedor-flex;
  &-h2{
    @include h2;
  }
  &-intro{
    width: 80%;
    &-img{
      @include img;   
      animation: iniciar 3s ease forwards; 
      &-right{
        @include img;
        animation: iniciar 3s ease forwards;
      }
    }
    &-right{
      display: none;
    }
  }

}

.agend {
  @include contenedor-flex;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  &-h2{
    width: 100%;
  }
  &-container-calendar{
    width: 300px;
    height: 300px;
    margin-bottom: 1em;
    &-calendar{
      width: 100%;
      height: 100%;
    }
  }
  &-date-button{
    justify-self: center;
    margin-top: 1em;
  }
}


@media (min-width: 768px){
  .welcome {
    @include contenedor-grid;
    &-h2{
      margin-top: 0;
      grid-column: span 2;
      text-align: center;
    }
    &-intro{
      justify-content: center;
      align-items: center;
      display: inline-flex;
      grid-column: span 2;
      margin-bottom: 1em;
      width: 100%;
      &-img{
        transform-origin: right top;
        &:hover{
          transform: scale(1.1);
          max-width: 400px;
          cursor: pointer;
        }
        &-right{
          display: block;
          transform-origin: left;      
          &:hover{
            max-width: 400px;
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
      &-right{
        display: block;
      }
      &-mobile{
        display: none;
      }     
      &>p{
        margin: 1em;
        width: 50%;
      }
    }
  }

  .agend {
    @include contenedor-grid;
    width: 100%;
    &-h2{
      grid-column: span 2;
      text-align: center;
    }
    &-container-calendar{
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      height: 400px;
    }
    &-date{
      @include contenedor-flex(column);
      text-align: start;
      padding: 1em;
      padding-right: 2em;
      &-button{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }

}