/* --------Materiales styles ----------*/

.recursos {
  @include contenedor-flex(row);
  text-align: center;
  &-h2{
    justify-self: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: $f-title;
  }
  &-article{
    width: 80%;
    &-img{
      width: 100%;
      margin-bottom: 1rem;
      animation: iniciar 3s ease-in-out;
    }
    &-ul{
      padding: 0;
      &-li{
        list-style: decimal;
        text-align: start;
      }
    }
  }
}

.videos {
  @include contenedor-flex(row);
  text-align: center;
  &-video{
    width: 100%;
    margin-bottom: 1rem;
    animation: iniciar 3s ease-in-out;
  }
}

.aside {
  @include contenedor-flex(row);
  text-align: center;
  &-spotify{
    width: 80%;
    &-iframe{
      width: 100%;
    }
  }
}

@media (min-width: 768px){
  .recursos{
    @include contenedor-grid;
    margin-left: auto;
    margin-right: auto;
    &-h2{
      grid-column: span 2;
      margin-bottom: 1rem;
    }
    &-article{
      align-self: center;
    }
    &-conclusion{
      grid-column: span 2;
      font-family: $f-title;
      font-size: 1.5rem;
    }
  }

  .videos{
    @include contenedor-grid;
    &-h3{
      grid-column: span 2;
    }
    &-video{
      justify-self: center;
      width: 80%;
      &-iframe{
        height: 300px;
        width: 100%;
      }
    }
  }

}