// --------Materiales styles ----------

.recursos {
  @include contenedor-flex;
  &-h2{
    @include h2;
  }
  &-article{
    width: 80%;
    &-img{
      @include img;
      animation: iniciar 3s ease-in-out;
    }
    &-ul{
      padding: 0;
      &-li{
        list-style: decimal;
        text-align: start;
      }
    }
  }
  &-conclusion{
    background-color: wheat;
    font-family: $f-title;
    font-size: 1.7rem;
    width: 90%;
  }
}

.videos {
  @include contenedor-flex;
  &-video{
    width: 80%;
    margin-bottom: 1em;
  }
  &-video-iframe{
    height: 400px;
    width: 100%;
    animation: iniciar 3s ease-in-out;;
  }
}

.aside {
  @include contenedor-flex;
  padding: 1em;
  &-spotify{
    width: 80%;
    &-iframe{
      width: 100%;
    }
  }
}

@media (min-width: 768px){
  .recursos{
    @include contenedor-grid;
    width: 100%;
    &-h2{
      grid-column: span 2;
      margin-bottom: 1em;
    }
    &-article{
      justify-self: center;
    }
    &-conclusion{
      justify-self: center;
      grid-column: span 2;
    }
  }

  .videos{
    @include contenedor-grid;
    &-h3{
      grid-column: span 2;
    }
    &-video{
      justify-self: center;
      width: 80%;
      margin-bottom: 0;
    }
  }

  .aside{
    &-spotify{
      width: 90%;
    }
  }
}