// -------- Footer styles ----------

footer {
  width: 100%;
  @include contenedor-flex(row, space-evenly);
  background-color: $c-fondo-alt;
  align-items: center;
  border-top: 1px solid black;
  & li a {
    color: $c-fondo;
    &:hover {
      background-color: $c-fondo;
      color: black;
    }
  }
}

.footer {
  &-nav {
    @include contenedor-flex(column);
    align-items: center;
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  &-a {
    @include contenedor-flex(column);
    width: 33%;
    align-items: center;
    border-right: 1px solid $c-fondo;
    border-left: 1px solid $c-fondo;
    & p {
      color: $c-fondo;
      margin-bottom: 0;
    }
  }
  &-logo{
    width: 100px;
  }
}
