header {
  @include contenedor-flex;
  align-items: center;
  background-color: $c-fondo;
  & a{
    @if lightness($c-fondo) > 50{
      color: black;
    }
    @else{
      color: white;
    }
  }
}

/* -------- Header styles ----------*/
.header-container-logo-der {
  display: none;
}

.header-container-h1 {
  vertical-align: middle;
  font-size: 1.8rem;
  font-family: Brush Script MT;
}

.header-container-logo-izq {
  padding: 2rem;
}

.header-container-logo-izq-img {
  animation: iniciar-down 3s ease-in-out;
  width: 100px;
}

@media (min-width: 768px){
  header {
    @include contenedor-flex(row);
    background-color: $c-fondo;
    justify-content: space-evenly;
  }

  .header-container-logo-izq {
    @include inline-flex;
    &-img{
      animation: iniciar-left 3s ease-in-out;
    }
  }

  .header-container-h1 {
    display: inline-flex;
  }

  .header-container-logo-der {
    @include inline-flex;
  }

  .header-container-logo-der-img {
    @include inline-flex(0);
    width: 100px;
    height: 100px;
    animation: iniciar-right 3s ease-in-out;
  }
}