// -------- Header styles ----------

header {
  @include contenedor-flex;
  align-items: center;
  background-color: $c-fondo;
  & a{
    @if lightness($c-fondo) > 50{
      color: black;
    }
    @else{
      color: white;
    }
  }
}

.header{
  &-h1{
    vertical-align: middle;
    font-size: 1.8rem;
    font-family: Brush Script MT;
    padding: 0.5em;
  }
  &-logo-izq{
    padding: 2em;
    &-img{
      animation: iniciar-down 3s ease-in-out;
      width: 100px;
    }
  }
  &-logo-der-img{
    display: none;
  }
}

@media (min-width: 768px){
  header {
    @include contenedor-flex(row);
    background-color: $c-fondo;
    justify-content: space-evenly;
  }

  .header{
    &-h1{
      display: inline-flex;
    }
    &-logo-izq{
      @include inline-flex;
      &-img{
        animation: iniciar-left 3s ease-in-out;
      }
    }
    &-logo-der{
      @include inline-flex;
      &-img{
        @include inline-flex(0);
        width: 100px;
        height: 100px;
        animation: iniciar-right 3s ease-in-out;
      }
    }
  }
}