/* --------NavBar styles ----------*/

.navbar {
  width: 100%;
  text-align: center;
}

.nav-logo-right {
  display: none;
}

.navbar-brand img{
  animation: iniciar-left 3s ease-in-out;
}

.nav-link.active:hover{
  background-color: $c-fondo;
  color: $c-fondo-alt;
}



@media (min-width: 768px){
  .nav-logo-right {
    display: block;
  }
}