// --------Whatsapp help styles ----------

.whatsapp {
  position: fixed;
  bottom: 1em;
  right: 1em;
  max-width: 50px;
  max-height: 50px;
  &-expand{
    display: none;
  }
  &-logo{
    width: 100%;
  }
}

@media (min-width: 768px){
  .whatsapp {
    &-logo{
      width: 100%;
    }
    &-expand{
      height: 50px;
      font-family: $f-family;
      color: #fff;
      font-size: 0.9em;
      padding: 1em 1em 1em 2.5em;
      border-radius: 2em;
      font-weight: bold;
      background: #25d366
      url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 0.7em center;
      background-size: 1.6em;
      position: inherit;
      right: 1em;
      bottom: 1em;
    }
    &:hover{
      .whatsapp-expand{
        display: block;
      }
      .whatsapp-logo {
        display: none;
      }
    }
  }
}